<template>
    <div class="hero">
        <header class="has-text-centered">
            <h1 class="title is-1"><img src="/images/icon-home.png" alt="NERBI"></h1>
        </header>
        <div class="columns">
            <div class="column is-desktop"></div>
            <div class="column">
                <nav class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Already have an account ?</p>
                            <router-link class="button is-large is-warning" to="/signin">SIGN IN</router-link>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Not yet registred ?</p>
                            <router-link class="button is-large is-success" to="/signup">SIGN UP</router-link>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="column is-desktop"></div>
        </div>
    </div>
</template>
