<template>
    <div>
        <div class="columns is-multiline" v-if="shops.length > 0">
            <div class="column is-one-quarter" v-for="(shop, index) of shops" v-bind:key="index">
                <transition name="vanish">
                    <div class="box">
                        <p class="title">{{ shop.name }}</p>
                        <p class="heading">{{ humanizeDistance(shop.distance) }}</p>
                        <div class="field is-grouped">
                            <div class="control">
                                <button
                                    class="button is-primary"
                                    type="submit"
                                    @click="onShopLike(shop._id)"
                                >Like</button>
                            </div>
                            <div class="control">
                                <button
                                    class="button is-danger"
                                    type="submit"
                                    @click="onShopDislike(shop._id)"
                                >Dislike</button>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>
        </div>
        <div class="has-text-centered" v-else>No shop found.</div>
    </div>
</template>

<script>
import * as shops from "../shops";
import * as utils from "../utils";

export default {
    data() {
        return {
            shops: []
        };
    },
    mounted() {
        shops.getNearbyShops().then(({ data: { shops } }) => {
            this.shops = shops;
        });
    },
    methods: {
        async onShopDislike( id ) {

            await shops.hideShop( id );

            this.shops = this.shops.filter(shop => {
                return shop._id !== id;
            });

        },
        async onShopLike( id ) {

            await shops.addFavoriteShop( id );

            this.shops = this.shops.filter(shop => {
                return shop._id !== id;
            });

        },
        humanizeDistance( value ) {
            return utils.humanizeDistance(value);
        }
    }
}
</script>