<template>
    <div class="columns">
        <div class="column is-desktop"></div>
        <div class="column is-one-third">
            <form @submit.prevent="onSignIn">
                <TextField
                    label="Email"
                    icon="envelope"
                    :error="emailError"
                    v-model="email"
                />
                <TextField
                    icon="lock"
                    label="Password"
                    type="password"
                    :error="passwordError"
                    v-model="password"
                />
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">Sign in</button>
                    </div>
                </div>
                <router-link class="field" to="/signup">Create an account ?</router-link>
            </form>
        </div>
        <div class="column is-desktop"></div>
    </div>
</template>

<script>
import * as auth from "../auth";
import * as emailValidator from "email-validator";
import router from "../router";

import TextField from "../components/TextField.vue";

export default {
    components: { TextField },
    data() {
        return {
            email: '',
            password: '',
        };
    },
    methods: {
        async onSignIn() {

            if ( this.emailError || this.passwordError )
                return;

            const result = await auth.signIn(this.email, this.password);

            auth.setToken(result.data.token);

            router.push('/near');

        }
    },
    computed: {
        emailError() {

            const email = this.email;

            if ( email === '' )
                return 'Email is required.';

            return emailValidator.validate(email) ? '' : 'Invalide email.';

        },
        passwordError() {

            const pass = this.password;

            if ( pass === '' )
                return 'Password is required.';

            return '';

        },
    },
}
</script>