<template>
    <div class="columns">
        <div class="column is-desktop"></div>
        <div class="column is-one-third">
            <form @submit.prevent="onSignUp">
                <TextField
                    label="Email"
                    icon="envelope"
                    :error="emailError"
                    v-model="email"
                />
                <TextField
                    icon="lock"
                    label="Password"
                    type="password"
                    :error="passwordError"
                    v-model="password"
                />
                <TextField
                    icon="lock"
                    label="Confirm password"
                    type="password"
                    :error="passwordConfError"
                    v-model="passwordConf"
                />
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary" type="submit">Sign up</button>
                    </div>
                </div>
                <router-link class="field" to="/signin">Already have an account ?</router-link>
            </form>
        </div>
        <div class="column is-desktop"></div>
    </div>
</template>

<script>
import * as emailValidator from "email-validator";
import * as scorePassword from "zxcvbn";

import * as auth from "../auth";

import router from "../router";

import TextField from "../components/TextField.vue";

export default {
    components: { TextField },
    data() {
        return {
            email: '',
            password: '',
            passwordConf: ''
        };
    },
    methods: {
        async onSignUp() {

            if (this.emailError || this.passwordError || this.passwordConfError) {
                return;
            }

            const result = await auth.signUp(this.email, this.password);

            auth.setToken(result.data.token);

            router.push('/near');

        }
    },
    computed: {
        emailError() {

            const email = this.email;

            if ( email === '' )
                return 'Email is required.';

            return emailValidator.validate(email) ? '' : 'Invalide email.';

        },
        passwordError() {

            const pass = this.password;

            if ( pass === '' )
                return 'Password is required.';

            const { score, feedback } = scorePassword(pass);

            if ( score <= 3 ) {
                return `${feedback.warning || ''} ${feedback.suggestion || ''}`.trim() || 'Weak password.';
            }

            return '';

        },
        passwordConfError() {

            const other = this.password;
            const pass = this.passwordConf;

            if ( pass === '' )
                return 'Please confirm password.';

            return other === pass ? '' : 'Passwords don\'t match.';

        }
    },
}
</script>