<template>
    <div class="container">
        <nav class="navbar has-shadow is-spaced is-mobile">
            <div class="navbar-brand">
                <strong class="navbar-item" v-if="connected">
                    <img
                        src="/images/icon.png"
                        alt="NERBI"
                    >
                </strong>
                <router-link to="/" class="navbar-item" v-else>
                    <strong>
                        <img
                            src="/images/icon.png"
                            alt="NERBI"
                        >
                    </strong>
                </router-link>
                <div class="navbar-burger" v-bind:class="{ 'is-active': active }" @click="onToggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="navbar-menu" @click="onClick" v-bind:class="{ 'is-active': active }">
                <div class="navbar-start">
                    <router-link
                        v-if="!connected"
                        class="navbar-item" to="/signin"
                        :class="{ 'is-active': current === 'SignIn' }"
                    >Sign in</router-link>
                    <router-link
                        v-if="!connected"
                        class="navbar-item" to="/signup"
                        :class="{ 'is-active': current === 'SignUp' }"
                    >Sign up</router-link>
                </div>
                <div class="navbar-end">
                    <router-link
                        v-if="connected"
                        class="navbar-item" to="/near"
                        :class="{ 'is-active': current === 'Shops' }"
                    >Nearby shops</router-link>
                    <router-link
                        v-if="connected"
                        class="navbar-item" to="/preferred"
                        :class="{ 'is-active': current === 'Favorites' }"
                    >Preferred shops</router-link>
                    <a v-if="connected" class="navbar-item" @click="onLogout">Sign out</a>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
import * as auth from '../auth';

import router from "../router";

export default {
    data() {
        return {
            active: false,
            connected: auth.isSignedIn(),
            current: router.currentRoute.name
        }
    },
    mounted() {
        router.beforeEach((to, from, next) => {
            this.connected = auth.isSignedIn();
            this.current = to.name;
            document.title = to.meta.title;
            next();
        });
    },
    methods: {
        onClick() {
            this.active = false;
        },
        onToggle() {
            this.active = !this.active;
        },
        onLogout() {
            auth.signOut();
            router.push('/');
        }
    }
}
</script>

<style scoped>

.is-active {
    color: hsl(348, 100%, 61%) !important;
}

</style>
