<template>
    <div class="field">
        <label class="label">{{ label }} :</label>
        <div class="control has-icons-left">
            <input
                class="input" :class="{ 'is-success': !error }"
                :type="type"
                :value="value"
                @input="update($event.target.value)"
            />
            <span class="icon is-small is-left">
                <i class="fas " :class="`fa-${icon}`"></i>
            </span>
        </div>
        <transition name="wizz">
            <p class="help is-danger" v-if="error">{{ error }}</p>
        </transition>
    </div>
</template>

<script>
export default {
    props: {
        icon: String,
        label: String,
        value: String,
        error: {
            type: String,
            default: ''
        },
        type: {
            type: String,
            default: 'text'
        }
    },
    methods: {
        update(value) {
            this.$emit('input', value)
        }
    }
}
</script>

<style scoped>
.wizz-enter-active {
    animation: shake .2s;
}
.wizz-leave-active {
    animation: bounceOut .2s;
}
</style>