<template>
    <div id="app">
        <Navigation />
        <div class="container" id="main">
            <router-view />
        </div>
    </div>
</template>

<script>
import Navigation from "./components/Navigation";

export default {
    name: 'app',
    components: {
        Navigation
    }
};
</script>

<style>
#main > * {
    margin: 2rem;
}

.wizz-enter-to,
.wizz-leave-to {
    animation: shake .2s;
}
</style>
